@import "./colors.css";

.ausencias-page {
  width: 100%;
}

.ausencias-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 25px;
}

.ausencias-header span {
  color: var(--color-primary);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.ausencias-header h2 {
  margin: 5px 0;
  color: var(--color-text-primary);
  font-family: "Playfair Display", serif;
  font-size: 34px;
}

.ausencias-header p {
  color: var(--color-text-secondary);
  font-size: 13px;
}

.ausencias-header button {
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
}

.ausencias-card {
  background: var(--color-bg-card);
  border: 1px solid var(--color-border-lighter);
  border-radius: 15px;
  padding: 10px 25px;
}

.absence-item {
  min-height: 90px;
  display: grid;
  grid-template-columns: 150px 1fr auto auto;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid var(--color-border-light);
}

.absence-item:last-child {
  border-bottom: none;
}

.absence-date {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.absence-date strong {
  color: var(--color-text-primary);
  font-size: 11px;
}

.absence-date span {
  color: var(--color-text-muted);
  font-size: 9px;
}

.absence-info h3 {
  margin-bottom: 5px;
  color: var(--color-text-primary);
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.absence-info p {
  color: var(--color-text-secondary);
  font-size: 10px;
}

.absence-type {
  padding: 6px 9px;
  border-radius: 20px;
  background: var(--color-primary-lighter);
  color: var(--color-primary);
  font-size: 9px;
  font-weight: 600;
}

.absence-item button {
  border: none;
  background: transparent;
  color: var(--color-primary-light);
  font-size: 10px;
  cursor: pointer;
}